/* ---- page-embedded <style> blocks (preserved) ---- */
.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}

@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="fbab7058-5cc0-f535-f16a-8d5ff5bb4893"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="d7ed2b6d-03b0-4eab-504b-5b4e9c4bcffa"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="0888bd78-1ea3-b193-6d68-318ff017b8b1"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f81876"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f5"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f7"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f1"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5175"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="e39d45c2-9bee-da03-1703-516197a25bdb"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5171"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e441"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="f4821db2-20f9-99e9-e3ad-d1e686f7c473"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e43d"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510da"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="5fbac46c-04b7-2f93-2710-7fc07df2c202"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510d6"] {width:24px;height:24px;}}@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="fbab7058-5cc0-f535-f16a-8d5ff5bb4893"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="d7ed2b6d-03b0-4eab-504b-5b4e9c4bcffa"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="0888bd78-1ea3-b193-6d68-318ff017b8b1"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f81876"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f5"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f7"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f1"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5175"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="e39d45c2-9bee-da03-1703-516197a25bdb"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5171"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e441"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="f4821db2-20f9-99e9-e3ad-d1e686f7c473"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e43d"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510da"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="5fbac46c-04b7-2f93-2710-7fc07df2c202"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510d6"] {width:24px;height:24px;}}@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f81876"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f5"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f7"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f1"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5175"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="e39d45c2-9bee-da03-1703-516197a25bdb"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5171"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e441"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="f4821db2-20f9-99e9-e3ad-d1e686f7c473"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e43d"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510da"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="5fbac46c-04b7-2f93-2710-7fc07df2c202"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510d6"] {width:19px;height:19px;}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f8187c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="53f45f5c-c11c-7b7c-dce0-f32f07f81876"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f5"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f7"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="23e29e57-e946-e51b-4856-b9e2f8eec0f1"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5175"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="e39d45c2-9bee-da03-1703-516197a25bdb"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="183b9c52-25d1-fdaf-f8a3-64c65fcb5171"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e441"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="f4821db2-20f9-99e9-e3ad-d1e686f7c473"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="978562f3-e08b-e819-2f2e-53d34b92e43d"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510da"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="5fbac46c-04b7-2f93-2710-7fc07df2c202"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8389e69a-c750-5b13-ead5-7324df8510d6"] {width:19px;height:19px;}}

/*Text Selection Color*/
  ::selection {
    background: #d14424;
    color: #fff;
  }
  ::-moz-selection {
    background: #d14424;
    color: #fff;
  }

  /*Reset apple form styles*/
  input, textarea, select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border-radius: 0; 
    background-image: none; 
  }

:root {
    /* Reset Font Weight variable values */
    --type-weight--100: 100;
    --type-weight--200: 200;
    --type-weight--300: 300;
    --type-weight--400: 400;
    --type-weight--500: 500;
    --type-weight--600: 600;
    --type-weight--700: 700;
    --type-weight--800: 800;
    --type-weight--900: 900;
  }

 	/* Apply font smoothing */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  /* Remove top margin on rich text first child */
  .w-richtext>:first-child {
    margin-top: 0;
  }

  /* Remove bottom margin of rich text last child */
  .w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0;
  }

/* Scroll behaviour for submenu */
.scrollable-submenu {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

/* Hide scrollbar Chrome/Safari/Opera */
.scrollable-submenu::-webkit-scrollbar {
  display: none;}

/* Hide scrollbar IE/Edge/Firefox */
.scrollable-submenu {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;  /* Firefox */}

/* Dropdown hover */
@media screen and (min-width: 992px) {
.dropdown-trigger {
  background-image: linear-gradient(#FFFABF, #FFFABF) !important;
  background-position: 0% 50% !important; 
  background-repeat: no-repeat !important;
  background-size: 0% 19px !important;
  transition: background-size 0.5s cubic-bezier(0.25, 1, 0.5, 1) !important;}

.dropdown-trigger:hover, .dropdown-trigger.w--open {
  background-size: 100% 19px !important;}
}

/* Submenu dropshadow fix */
.nav-submenu::before {
  content: "";
  display: block; 
  position: sticky;
  top: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  z-index: 10;
  pointer-events: none;}

/* HIDES sub dropshadow by default */
.nav-shadow-sliver {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
  background: transparent;}

/* OPEN dropmenu casts dropshadow */
.nav-container_v3:has(.w--open) .nav-shadow-sliver {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18) !important;}
