/* ---- page-embedded <style> blocks (preserved) ---- */
.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}

@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2432a"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24332"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2433a"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24407"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24409"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24403"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24416"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2441e"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24412"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442d"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24427"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24436"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24449"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2444b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24445"] {width:24px;height:24px;}}@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2432a"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24332"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2433a"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24407"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24409"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24403"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24416"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2441e"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24412"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442d"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24427"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24436"] {width:24px;height:24px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24449"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2444b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24445"] {width:24px;height:24px;}}@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24407"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24409"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24403"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24416"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2441e"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24412"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442d"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24427"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24436"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24449"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2444b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24445"] {width:19px;height:19px;}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24407"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24409"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24403"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24416"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2441e"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24412"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2442d"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24427"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443a"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2443c"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24436"] {width:19px;height:19px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24449"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac2444b"] {height:0px;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9ffdca44-32f0-4f95-e450-6a4dcac24445"] {width:19px;height:19px;}}

/*Text Selection Color*/
  ::selection {
    background: #d14424;
    color: #fff;
  }
  ::-moz-selection {
    background: #d14424;
    color: #fff;
  }

  /*Reset apple form styles*/
  input, textarea, select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border-radius: 0; 
    background-image: none; 
  }

:root {
    /* Reset Font Weight variable values */
    --type-weight--100: 100;
    --type-weight--200: 200;
    --type-weight--300: 300;
    --type-weight--400: 400;
    --type-weight--500: 500;
    --type-weight--600: 600;
    --type-weight--700: 700;
    --type-weight--800: 800;
    --type-weight--900: 900;
  }

 	/* Apply font smoothing */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  /* Remove top margin on rich text first child */
  .w-richtext>:first-child {
    margin-top: 0;
  }

  /* Remove bottom margin of rich text last child */
  .w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0;
  }

/* Scroll behaviour for submenu */
.scrollable-submenu {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

/* Hide scrollbar Chrome/Safari/Opera */
.scrollable-submenu::-webkit-scrollbar {
  display: none;}

/* Hide scrollbar IE/Edge/Firefox */
.scrollable-submenu {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;  /* Firefox */}

/* Dropdown hover */
@media screen and (min-width: 992px) {
.dropdown-trigger {
  background-image: linear-gradient(#FFFABF, #FFFABF) !important;
  background-position: 0% 50% !important; 
  background-repeat: no-repeat !important;
  background-size: 0% 19px !important;
  transition: background-size 0.5s cubic-bezier(0.25, 1, 0.5, 1) !important;}

.dropdown-trigger:hover, .dropdown-trigger.w--open {
  background-size: 100% 19px !important;}
}

/* Submenu dropshadow fix */
.nav-submenu::before {
  content: "";
  display: block; 
  position: sticky;
  top: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  z-index: 10;
  pointer-events: none;}

/* HIDES sub dropshadow by default */
.nav-shadow-sliver {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
  background: transparent;}

/* OPEN dropmenu casts dropshadow */
.nav-container_v3:has(.w--open) .nav-shadow-sliver {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18) !important;}
